<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>PayMyBuddy - HomePage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>

<body>
<div th:insert="header :: header"></div>

<div class="container">
    <div class="row">
        <h1 class="text-center"> Registration and Login System </h1>
    </div>
    <div class="row">
        <h2 class="text-center">Balance: <span th:text="${balance}">0.00</span></h2>
    </div>
</div>
</body>

</html>